.active {
  position: relative;
  /* background: rebeccapurple; */
}

.active::after {
  position: absolute;
  left: 0px;
  bottom: -5px;
  content: '';
  width: 100%;
  background: red;
  height: 5px;
  z-index: 999;
}

.valid {
  background-color: green;
  border-radius: 5px;
}

.not-valid {
  background-color: orange;
  border-radius: 5px;
}
